.button,
.FileButton label {
  appearance: none;
  background-color: #ffffff;
  border-style: none;
  color: #000000;
  cursor: pointer;
  font-size: medium;
  font-weight: bold;
  padding: 0.25rem 1rem;
  user-select: none;
  &:hover {
    color: $accent-color;
  }
}
