*,
* > *,
*::before,
*::after {
  box-sizing: border-box;
  image-rendering: pixelated;
  line-height: 1;
  margin: 0;
  outline-style: none;
  padding: 0;
}

:root {
  font-size: calc(2.5vmin);
  height: 100%;
}

body {
  background-color: $bg-color;
  color: $fg-color;
  font-family: "Courier New", monospace;
  font-feature-settings: "palt";
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
